<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome Thymeleaf</title>
    </head>

    <body>
        <h1 th:text="'안녕하세요, ' + ${name} + '님 Welcome!'">기본 텍스트</h1>

        <!-- 조건문 -->
        <div th:if="${isLogin}">로그인 상태입니다.</div>
        <div th:unless="${isLogin}">로그아웃 상태입니다.</div>

        <!-- 반복문 -->
        <ul>
            <li th:each="item : ${items}" th:text="${item}"></li>
        </ul>

        <!-- 링크 -->
        <a th:href="@{/welcome(user=${name})}">환영 페이지로 이동</a>
    </body>
</html>
